@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--color-bg: #1e1e1f;
	--color-text: #c2c0b7;
	--color-border: #474744;
	--color-bg-secondary: #30302e;
}
